<br>
<div class="container">
    <div class="media">
      <img src="{{ url_for('static', filename='svg/si-glyph-calculator.svg') }}" width="50" height="50" class="mr-3" alt="...">
      <div class="media-body">
        <h5 class="mt-0">Analysis {{ caseid }}</h5>
        Please select the right boundary conditions before you start the simulation.
      </div>
    </div>
</div>

<br>

<button class="btn btn-primary" type="submit", id="manualrunbtn">Run</button>

<br>
<hr>


<div class="card-group">
  <div class="card">
    <img id="imgop1" src="{{ url_for('static', filename='img/logo.png') }}" alt="OP1" >
    <div class="card-body">
      <h5 class="card-title">Operating Point 1</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img id="imgop2" src="{{ url_for('static', filename='img/logo.png') }}" alt="OP2" >
    <div class="card-body">
      <h5 class="card-title">Operating Point 2</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
</div>

<!-- Javascrip -->
<script type="text/javascript">

  $(document).ready(function(){


    // create a new timestamp     
    function refreshImage(imgElement, imgURL){    
        // create a new timestamp 
        var timestamp = new Date().getTime();  
        var el = document.getElementById(imgElement);  
        var queryString = "?t=" + timestamp;    
        el.src = imgURL + queryString;    
    }

    $('#manualrunbtn').click(function() { 
          $.ajax({
              url: "{{ url_for('simulation.simulate', caseid=caseid) }}",
              success: function(data) {
                alert(data);
                refreshImage("imgop1", "{{ url_for('static', filename='img/flowfield1.png') }}");
                refreshImage("imgop2", "{{ url_for('static', filename='img/flowfield2.png') }}");

              }
          });
    });


});
</script>