<br>
<div class="container">
    <div class="media">
      <img src="{{ url_for('static', filename='svg/si-glyph-wrench.svg') }}" width="50" height="50" class="mr-3" alt="...">
      <div class="media-body">
        <h5 class="mt-0">Analysis {{ caseid }}</h5>
        Please select the right boundary conditions before you start the simulation.
      </div>
    </div>
</div>

<br>
<!-- CARDS VIEW -->
<div class="card-columns">


    <!-- BC CARD -->
  <div class="card" style="max-width: 540px;" id="cardboundaryconditions">
      <div class="card-header">
        Boundary Conditions
      </div>
      <img src="{{ url_for('static', filename='img/airfoil.png') }}" width="80%" height="80%" alt="...">

      <div class="card-body">
        <h5 class="card-title">Boundary Conditions</h5>

        <!-- The BC Form -->
        <form action="#" onsubmit="yourJsFunction();return false" id="bcform" >
          <p>Operation 1</p>
          <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">U1 [m/s]</span>
            </div>
            <input name="U1value" type="number" class="form-control" placeholder="{{ digitaltwin.U1 }}" value="{{ digitaltwin.U1 }}"/>
            <div class="input-group-prepend">
                <span class="input-group-text">&alpha;1 [deg]</span>
            </div>
            <input name="alpha1value" type="number" class="form-control" placeholder="{{ digitaltwin.alpha1 }}" value="{{ digitaltwin.alpha1 }}"/>
          </div>
          <hr class="my-4">

          <p>Operation 2</p>
          <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">U2 [m/s]</span>
            </div>
            <input name="U2value" type="number" class="form-control" placeholder="{{ digitaltwin.U2 }}" value="{{ digitaltwin.U2 }}"/>
            <div class="input-group-prepend">
                <span class="input-group-text">&alpha;2 [deg]</span>
            </div>
            <input name="alpha2value" type="number" class="form-control" placeholder="{{ digitaltwin.alpha2 }}" value="{{ digitaltwin.alpha2 }}"/>
          </div>
          <hr class="my-4">
        </form>

        <button class="btn btn-primary" id="manualrunbtn">Run Simulation</button>

      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>

  </div>


  <!-- GEOMETRY CARD -->
  <div class="card" id="cardgeometry">
    <div class="card-header">
      Airfoil Shape
    </div>
    <div class="card-body">
      <h5 class="card-title">Airfoil Shape</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>

        <form action="#" onsubmit="yourJsFunction();return false" id="geomform" >
          <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">R [m]</span>
            </div>
            <input name="geomparamr" type="number" class="form-control" placeholder="{{ digitaltwin.U1 }}" value="{{ digitaltwin.U1 }}"/>
            <div class="input-group-prepend">
                <span class="input-group-text">&beta; [deg]</span>
            </div>
            <input name="geomparambeta" type="number" class="form-control" placeholder="{{ digitaltwin.alpha1 }}" value="{{ digitaltwin.alpha1 }}"/>
            <div class="input-group-prepend">
                <span class="input-group-text">a; [m]</span>
            </div>
            <input name="geomparama" type="number" class="form-control" placeholder="{{ digitaltwin.alpha1 }}" value="{{ digitaltwin.alpha1 }}"/>
          </div>
          <hr class="my-4">
        </form>

    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>

  <!-- RESULT CARD1 -->
  <div class="card" id="cardres1">
    <div class="card-header">
      Simulation Result
    </div>

    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="home-tab-res1" data-toggle="tab" href="#home-res1" role="tab" aria-controls="home-res1" aria-selected="true">Contour</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="profile-tab-res1" data-toggle="tab" href="#profile-res1" role="tab" aria-controls="profile-res1" aria-selected="false">Profile Loading</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="home-res1" role="tabpanel" aria-labelledby="home-tab-res1">
        <img id="imgop1" src="{{ url_for('static', filename='img/logo.png') }}" alt="OP1" width="100%" height="100%" >
      </div>
      <div class="tab-pane fade" id="profile-res1" role="tabpanel" aria-labelledby="profile-tab-res1">
        <img id="imgop1cp" src="{{ url_for('static', filename='img/logo.png') }}" alt="OP1" width="100%" height="100%" >
      </div>
    </div>

    <div class="card-body">
      <h5 class="card-title">Operating Point 1</h5>
      <pre class="card-text" id="textop1_cl"></pre>
      <pre class="card-text" id="textop1_cd"></pre>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>

  <!-- RESULT CARD2 -->
  <div class="card" id="cardres2">
    <div class="card-header">
      Simulation Result
    </div>

    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="home-tab-res2" data-toggle="tab" href="#home-res2" role="tab" aria-controls="home-res2" aria-selected="true">Contour</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="profile-tab-res2" data-toggle="tab" href="#profile-res2" role="tab" aria-controls="profile-res2" aria-selected="false">Profile Loading</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="home-res2" role="tabpanel" aria-labelledby="home-tab-res2">
        <img id="imgop2" src="{{ url_for('static', filename='img/logo.png') }}" alt="OP2" width="100%" height="100%" >
      </div>
      <div class="tab-pane fade" id="profile-res2" role="tabpanel" aria-labelledby="profile-tab-res2">
        <img id="imgop2cp" src="{{ url_for('static', filename='img/logo.png') }}" alt="OP1" width="100%" height="100%" >
      </div>
    </div>

    
    <div class="card-body">
      <h5 class="card-title">Operating Point 2</h5>
      <pre class="card-text" id="textop2_cl"></pre>
      <pre class="card-text" id="textop2_cd"></pre>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>

</div>


<!-- Javascrip -->
<script type="text/javascript">

  $(document).ready(function(){

    $("#cardres1").hide();
    $("#cardres2").hide();

    $( "#cardboundaryconditions" ).draggable();
    $( "#cardgeometry" ).draggable();
    $( "#cardres1" ).draggable();
    $( "#cardres2" ).draggable();


    

    // create a new timestamp     
    function refreshImage(imgElement, imgURL){    
        // create a new timestamp 
        var timestamp = new Date().getTime();  
        var el = document.getElementById(imgElement);  
        var queryString = "?t=" + timestamp;    
        el.src = imgURL + queryString;    
    }

    $('#manualrunbtn').click(function() { 
          $.ajax({
              data: $('#bcform').serialize(),
              url: "{{ url_for('simulation.receive', caseid=caseid) }}",
              success: function(resp) {
                //alert(resp);
              }
          });

            //action=""
          $.ajax({
              url: "{{ url_for('simulation.simulate', caseid=caseid) }}",
              success: function(resp) {
                data = JSON.parse(resp);
                refreshImage("imgop1", "{{ url_for('static', filename='res/'+digitaltwin.directory+'/flowfield1.png') }}");
                refreshImage("imgop2", "{{ url_for('static', filename='res/'+digitaltwin.directory+'/flowfield2.png') }}");
                refreshImage("imgop1cp", "{{ url_for('static', filename='res/'+digitaltwin.directory+'/profile1.png') }}");
                refreshImage("imgop2cp", "{{ url_for('static', filename='res/'+digitaltwin.directory+'/profile2.png') }}");

                $("#textop1_cl"  ).text("Lift: "+data["op1"]["Lift"]+"N"+ " " +"Cl:   "+data["op1"]["Cl"]);
                $("#textop1_cd"  ).text("Drag: "+data["op1"]["Drag"]+"N"+ " " +"Cd:   "+data["op1"]["Cd"]);

                $("#textop2_cl"  ).text("Lift: "+data["op2"]["Lift"]+"N"+ " " +"Cl:   "+data["op2"]["Cl"]);
                $("#textop2_cd"  ).text("Drag: "+data["op2"]["Drag"]+"N"+ " " +"Cd:   "+data["op2"]["Cd"]);



                $("#cardres1").fadeIn();
                $("#cardres2").fadeIn();


              }
          });
    });
});
</script>