{% extends "base.html" %}
{% set active_page = "twin" %}
{% block content %}

<div class="card mb-3">
  <div id="header">
    <img src="{{ url_for('static', filename='img/wing.jpg') }}" width="60%" height="60%" alt="...">
  </div>
  <div class="card-body">
    <h5 class="card-title">Generative Design Example - The Assignment</h5>
    <p class="card-text">Your team and you are successfull aerodynamic design engineers. Your task is to design a single wing profile section (airfoil) for two different operating points. For each operating point the design will produce lift and drag. Since you are very busy you want to use Generative Design to explore the ultimative design by employing swarm intelligence. </p>
    <button type="button" class="btn btn-secondary edit" id="itemCreateButton">Create Case</button>
    <a href="{{ url_for('home') }}" class="btn btn-secondary">Back</a>
    
  </div>
</div>



<div class="card-columns">
{% for case in cases %}
  <div class="card" id="datacard-{{loop.index}}" name="{{ case.id }}" >
    <div class="card-body">
      <h5 class="card-title">Simulation {{ case.id  }}</h5>
      <!-- <h6 class="card-subtitle mb-2 text-muted">File {{ case.simulationfile }}</h6> -->
      <p class="card-text">Directory {{ case.directory }}</p>
      <a href="{{ url_for('simulation.run', caseid=case.id) }}" class="btn btn-secondary edit" role="button">Analyse</a>
      <button type="button" class="btn btn-danger delete" id="itemDeleteButton-{{loop.index}}">Delete</button>
      <p class="card-text"><small class="text-muted">Created {{ case.created }}</small></p>
    </div>
  </div>
{% endfor %}
</div>




<!-- Javascrip -->
<script type="text/javascript">

  $(document).ready(function(){

    //console.log(Object.getOwnPropertyNames($('itemEditButton-1')));

    // $('button.btn.btn-secondary.edit').click(function() { 
    //      var card = $('#'+this.id).parents()[1];
    //      var dataItemId = $('#'+card.id).attr('name');
         
    // });


    $('#itemCreateButton').click(function() { 
          $.ajax({
              url: "{{ url_for('simulation.create') }}",
              success: function(data) {
                alert(data);
                window.location.reload()
              }
          });
    });



    $('button.btn.btn-danger.delete').click(function() { 
         var card = $('#'+this.id).parents()[1];
         var dataItemId = $('#'+card.id).attr('name');
          $.ajax({
              url: "{{ url_for('simulation.remove') }}",
              data: {dataid: dataItemId},
              success: function(data) {
                alert(data);
              }
          });
         $('#'+card.id).remove();
    });


});
</script>

{% endblock %}