{% macro render_navbar(user='', userhandling=true) -%}
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <!-- <a class="navbar-brand" href="#">Navbar</a> -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Atos Generative Design Demonstrator <span class="sr-only">(current)</span></a>
          </li>
        </ul>

        {% if userhandling is sameas true %}
            <form class="form-inline my-2 my-lg-0">
              {% if user %}
                <div class="btn text-muted">User: {{ user }}</div>
                <button type="button" class="btn btn-sm btn-outline-secondary" id="logoutbutton">Logout</button>
              {% else %}
                <button type="button" class="btn btn-sm btn-outline-secondary" id="loginbutton">Login</button>
                <button type="button" class="btn btn-sm btn-outline-secondary" id="registerbutton">Register</button>
              {% endif %}
            </form>
        {% endif %}  
      </div>
    </nav>
{%- endmacro %}